$darkRed: #780000;
$lightRed: #ee6c4d;
$white: #FFF;
$darkBlue: #3d5a80;
$lightBlue: #669BBC;

$theme-colors: (
    'dRed': $darkRed,
    'lRed': $lightRed,
    'white': $white,
    'dBlue':$darkBlue,
    'lBlue': $lightBlue
)