  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
  @import 'variables';
  @import "../../node_modules/bootstrap/scss/bootstrap.scss";

  body {
      font-family: 'Montserrat', sans-serif;
      background-color: $white;

      .bgDark {
          background-color: $white !important;
      }

      .bgBlue {
          background-color: $blue !important;
      }

      nav {
          color: $white !important;

          .nav-pills {
              height: 7em;

              button {
                  color: $black !important;
              }

              .active {
                  background-color: $blue !important;
                  color: $white !important
              }

          }

      }

      .card-warp {
          border-color: $blue;

          h5 {
              border-color: $blue;
          }
          
          .card-logo {
              width: 9em;
            }
        }

      footer {
          color: $white !important;
      }
  }

  @media screen and (min-width: 768px) {
      nav {
          .nav-head {
              height: 3rem !important;
              margin-bottom: 0.8rem;
          }

          .nav-pills {
              height: 3rem !important;

              button {
                  height: 3rem !important;
              }
          }
      }

      .main {
          max-width: 60%;
      }
  }